<% provide(:page_title, 'Buscar Aviso') %>
</br>

<!DOCTYPE html>
<html>
  <head>

  <title>Buscar Avisos</title>


    <style>


       body
        {
            background: url('http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/07/white-background-9.jpg') fixed;
            background-size: cover;
            padding: 15px;
            margin: 0;
            width: 100%



          } 

          a{
          color: #131A46;

          } 


            .porte2{
            width: 140px;
            height: 40px;
            font-size: 18px;
            background-color: gray;
            border-color: white;
            border-width: 1px;
            opacity: 0.8;

          }
  

    </style>



    </head>


    <body>




<div class="row ofss">



<%= link_to "Aisén",  publications_path( :region_id => "1"),class:"btn btn-info porte2" %>
<%= link_to "Los Lagos",  publications_path( :region_id => "2"),class:"btn btn-info porte2" %>
<%= link_to "Los Rios",  publications_path( :region_id => "3"),class:"btn btn-info porte2" %>
<%= link_to "La Araucanía",  publications_path( :region_id => "4"),class:"btn btn-info porte2" %>
<%= link_to "Biobío",  publications_path( :region_id => "5"),class:"btn btn-info porte2" %>
<%= link_to "Maule",  publications_path( :region_id => "6"),class:"btn btn-info porte2" %>
<%= link_to "O'Higgins",  publications_path( :region_id => "7"),class:"btn btn-info porte2" %>
<%= link_to "Santiago",  publications_path( :region_id => "9"),class:"btn btn-info porte2" %>
<%= link_to "Valparaíso",  publications_path( :region_id => "8"),class:"btn btn-info porte2" %>
<%= link_to "Coquimbo",  publications_path( :region_id => "10"),class:"btn btn-info porte2" %>
<%= link_to "Atacama",  publications_path( :region_id => "11"),class:"btn btn-info porte2" %>
<%= link_to "Antofagasta",  publications_path( :region_id => "12"),class:"btn btn-info porte2" %>
<%= link_to "Tarapacá",  publications_path( :region_id => "13"),class:"btn btn-info porte2" %>
<%= link_to "Arica",  publications_path( :region_id => "14"),class:"btn btn-info porte2" %>


</div>




</br>
</br>


    






<div class="col-md-8">



<% @publications.each do |publication| %>

<div class="row">
                        <div class="col-md-12">




                            <div class="sales border-0">
                             <div class="col-md-2">

                             </br>


                            

                             </br>
                             
                           

                             <div class="comunast"><%= publication.comuna.nombre %></div>

                             </br>
                             
                            
                            
                            <div class="regionst"><%= publication.region.nombre %></div>

                             </div>


                              <div class="col-md-3">

                                <% unless publication.publication_attachments.first.nil? %>
       
                               <td><%= image_tag publication.publication_attachments.first.avatar_url(:normal) , class:"img-thumbnail" , alt: publication.titulo %></td>
                                <%end%>


                            <%= button_to 'Eliminar', publication, method: :delete%>

                             

                             </div>
                              
                               

                            <div class="col-md-7">


                             <div class="sizefo"><a href=""> <%= link_to publication.titulo, publication %> </a></div>

                            <div class="rojito"> <%= number_to_currency(publication.precio,precision: 0,separator:".",delimiter: ".") %> </div>
                            </br>
                         

                            <div class="caract"><i>Dormitorios : </i> <strong><%= publication.dormitorio %> </strong>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<i>Superficie :</i> <%= publication.superficie %></div>

                            <%if (publication.motivo==1) %>

                            <%= image_tag("se-vende.png",class:"cartel" , alt: "Anuncio se vende")%>


                            <% else %>

                            <%= image_tag("searrienda.png",class:"cartel" , alt: "Anuncio se arrienda")%>

                            <% end %>



                           

                             <div class="caract"><i>Baños :</i> <%= publication.baño %></div>
                             


                            
                       

                         

                            </div>


                        
                           

                            
                            
                        


                                  

                                   

                               


                                    
                                
                            </div>
                        </div>
                        


                            
                      </div>

                      </br>
                            

                      <%end%>











            
              







</div>


<%= will_paginate @publications %>







<div class="col-md-4">


    


<%= search_form_for @q do |f| %>

        

            
         



          

          


<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-5 col-md-offset-3 col-lg-offset-0">
      <div class="well">
      <h3 align="center">Buscador</h3>
        <form class="form-horizontal">


           <div class="form-group">
            <%= f.label :titulo_cont , "Palabra clave",class: 'control-label' %>
            <div class="input-group">
            <%= f.search_field :titulo_cont ,class: 'form-control'%>
            
            </div>
          </div>


          <div class="form-group">

          


                         <%= f.label :motivo_eq , "¿Que Buscas?",class: 'control-label' %>

                         <div class="row">

          

                         <div class="col-md-5">

            
                        <%= f.select(:motivo_eq, options_for_select([['', ''],['Comprar', '1'], ['Arrendar', '2']]),{} , {class: 'form-control'} ) %>

                        </div>

                </div>




          </div>

          <div class="form-group">

          
              <%= f.hidden_field :region_id_eq , :value => @region_recibida %>

                         

                         <div class="row">

          

                         <div class="col-md-5">

            
                        

                        </div>

                </div>

      </div>

      <div class="form-group">

          


                         <%= f.label :comuna_id_eq , "Comuna",class: 'control-label' %>

                         <div class="row">

          

                         <div class="col-md-5">



                         <%= f.collection_select :comuna_id_eq, Comuna.order(:nombre).where(:region_id => @region_recibida), :id, :nombre,{include_blank: true}, {:class=>'form-control'}%>


                        </div>

                </div>




          </div>

          <div class="form-group">
            <%= f.label :tipo_cont , "Tipo",class: 'control-label' %>

            <div class="row">


                         <div class="col-md-5">
           <%= f.select(:tipo_cont, options_for_select([['Casa', 'Casa'], ['Departamento', 'Departamento'],['Parcela', 'Parcela']]),{} , {class: 'form-control'}) %>
          </div>
          </div>
          </div>

           
          <div class="form-group">

          <%= f.label :dormitorio_gteq , "Dormitorios",class: 'control-label' %>

          <div class="row">

          

                         <div class="col-md-5">

            
                         <%= f.select(:dormitorio_gteq, options_for_select([['Min', ''],['1', '1'], ['2', '2'],['3', '3'],['4 o mas', '4']]),{} , {class: 'form-control'} ) %>

                        </div>


                         <div class="col-md-5">
                      

                         <%= f.select(:dormitorio_lteq, options_for_select([['Max', ''],['1', '1'], ['2', '2'],['3', '3'],['4 o mas', '4']]),{} , {class: 'form-control'} ) %>

                         </div>
                       
</div>


          </div>

          <div class="form-group">

                         <%= f.label :baños_gteq , "Baños",class: 'control-label' %>
                         <div class="row">

                         <div class="col-md-5">
            
                        <%= f.select(:baño_gteq, options_for_select([['Min', ''],['1 baño', '1'], ['2 baños', '2'],['3 baños', '3'],['4 o mas baños', '4']]),{} , {class: 'form-control'} ) %>
                        </div>
                        <div class="col-md-5">
    
                        <%= f.select(:baño_lteq, options_for_select([['Max', ''],['1 baño', '1'], ['2 baños', '2'],['3 baños', '3'],['4 o mas baños', '4']]),{} , {class: 'form-control'} ) %>

                        </div>
                        </div>






          </div>

           <div class="form-group">

                         <%= f.label :estacionamiento_gteq , "Estacionamientos",class: 'control-label' %>

                         <div class="row">

                         <div class="col-md-5">
            
                      <%= f.select(:estacionamiento_gteq, options_for_select([['Min', ''],['1 estacionamiento', '1'], ['2 estacionamientos', '2'],['3 o mas estacionamientos', '3'],['No tiene', '0']]),{} , {class: 'form-control'} ) %>
                      </div>

                      <div class="col-md-5">

                       <%= f.select(:estacionamiento_lteq, options_for_select([['Max', ''],['1', '1'], ['2', '2'],['3 o mas', '3'],['No tiene', '0']]),{} , {class: 'form-control'} ) %>

                       </div>

                       </div>







          </div>
          



          


          <div class="form-group">
             <%= f.label :precio_gteq , "Precio",class: 'control-label' %>

             <div class="row">

                         <div class="col-md-5">
            
              
               <div class="input-group">
               <div class="input-group-addon" id="basic-addon2">$</div>
            <%= f.search_field :precio_gteq ,class: 'form-control'%>
            
            </div>

            </div>

            <div class="col-md-5">



            
               <div class="input-group">
               <div class="input-group-addon" id="basic-addon2">$</div>
            <%= f.search_field :precio_lteq ,class: 'form-control'%>
            
            </div>

            </div>

            </div>
              
            



          </div>

          

         

          <%= f.button ' Buscar' ,name:"region_id", value: @region_recibida , class: 'btn btn-danger glyphicon glyphicon-search' %>
          


        </form>
      </div>
    </div>
  </div>
</div>


</div>



<%end%>




</body>


</html>



 




 


