<% provide(:page_title, 'Buscar Aviso') %>
</br>

<!DOCTYPE html>
<html>
  <head>


    <style>


    body
        {
            background: url('http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/07/white-background-9.jpg') fixed;
            background-size: cover;
            padding: 15px;
            margin: 0;
        }  


    /**** BASE ****/


/**** LAYOUT ****/

.sales {
    background: #ffffff none repeat scroll 0 0;
    border: 7px solid #d4d9e3;
    display: inline-block;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 1px;
    width: 100%;
    opacity:0.8;
}

a{
    color: #131A46;


}

.negrit{
  font-weight:black;
  color:black !important;
  opacity:0.8;

}

.rojito{
  font-weight:black;
  color: red;
  opacity:0.5;
  font-size: 30px;
  font-family: "Arial Hebrew";
}


.sizefo{
    font-size: 25px !important;
}

.regionst{

    font-size: 10px;

}

.comunast{
    font-size: 20px;
   font-family: "Arial Rounded MT Bold"
}

.caract{
    font-size: 15px;
    font-family: "Arial Rounded MT Bold"

}

.cartel{
    width: 100px;
    float: right;
    opacity:0.6;
}

    </style>

    </head>


    <body>




<div class="col-md-9 ">



<% @publications.each do |publication| %>

<div class="row">
                        <div class="col-md-10">




                            <div class="sales border-0"">
                             <div class="col-md-2">

                             </br>


                            

                             </br>
                             
                           

                             <div class="comunast"><%= publication.comuna.nombre %></div>

                             </br>
                             
                            
                            
                            <div class="regionst"><%= publication.region.nombre %></div>

                             </div>


                              <div class="col-md-3">

                                <% unless publication.publication_attachments.first.nil? %>
       
                               <td><%= image_tag publication.publication_attachments.first.avatar_url(:normal) , class:"img-thumbnail"  %></td>
                                <%end%>


                            <%= button_to 'Eliminar', publication, method: :delete%>

                             

                             </div>
                              
                               

                            <div class="col-md-7">


                             <div class="sizefo"><a href=""> <%= link_to publication.titulo, publication %> </a></div>

                            <div class="rojito"> <%= number_to_currency(publication.precio,precision: 0,separator:".",delimiter: ".") %> </div>
                            </br>
                         

                            <div class="caract"><i>Dormitorios : </i> <strong><%= publication.dormitorio %> </strong>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<i>Superficie :</i> <%= publication.superficie %></div>

                            <%= image_tag("se-vende.png",class:"cartel" )%>

                           

                             <div class="caract"><i>Baños :</i> <%= publication.baño %></div>
                             


                            
                       

                         

                            </div>


                        
                           

                            
                            
                        


                                  

                                   

                               


                                    
                                
                            </div>
                        </div>
                        


                            
                      </div>

                      </br>
                            

                      <%end%>











            
              







</div>



</body>
</html>



 




 


