
<% provide(:page_title, @publication.titulo) %>
<% provide(:blog_active, 'active') %>

<!doctype html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta charset='utf-8'>

<head>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

  <!-- META ===================================================== -->

  

  <!-- Favicon  ========================================== -->
  <link rel="icon" href="favicon.ico">

  <!-- CSS ====================================================== -->
  <link rel="stylesheet" href="css/smoothproducts.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
  <!-- Demo CSS (don't use) -->
  <style type="text/css">

   body
        {
            background: url('http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/07/white-background-9.jpg') fixed !important;
            background-size: cover !important;
            padding: 15px !important;
            margin: 0 !important;
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        }  
 




  .page {
    padding: 5px 30px 30px 100px;   /* AGRANDAMOS EL AVISO O ACHICAMOS DE ANCHO */
    max-width: 1200px;
    opacity: 0.9;
    
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
 
  }


  




  /* Needed for the lightbox */

html, body {
  height: 100%;
  width: 100%;
}

/* CSS for the loading div */

.sp-loading {
  text-align: center;
  max-width: 270px;
  padding: 15px;
  border: 5px solid #eee;
  border-radius: 3px;
  font-size: 12px;
  color: #888;
}

/* Element wrapper */

.sp-wrap {
  display: none;
  line-height: 0;
  font-size: 0;
  background: #eee;
  border: 5px solid #eee;
  border-radius: 3px;
  position: relative;
  margin: 0 25px 15px 0;
  float: left;
  /**************
    Set max-width to your thumbnail width
  ***************/
  
  max-width: 900px;
}

/* Thumbnails */


.sp-thumbs a:link, .sp-thumbs a:visited {
  width: 50px;
  height: 50px;
  overflow: hidden;
  opacity: .3;
  display: inline-block;
  background-size: cover;
  background-position: center;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.sp-thumbs a:hover {
  opacity: 1;
}

/* Styles for the currently selected thumbnail */


/* Image currently being viewed */


.sp-large a img {
  max-width: 100%;
  height: auto;
}


/* Panning Zoomed Image */


/* Lightbox */




/* Tweak styles for small viewports */



.price span {
     color: #ff9f1a !important; 
   }


 .product-description{
  font-style: italic;
  font-color: black;
 }   


  .titulo-ok
{
  
  color: black;
  font-family: 'Abadi MT Condensed Light';
  text-transform: capitalize;
  text-transform: uppercase;
  border-bottom: 3px solid #696969;
  font-size: 30px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 10px;
  margin-bottom: 15px;
  text-align: center;
  text-indent: 24px;
  opacity: 0.7;

  
}

.left1{
  float: right;
}





body{padding-top:30px;}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

.float-ok
{
  position:absolute;
  left:850px;
}

.descrp{
  font-size: 25px;
}


.casa{

  width: 50px;
}

.descrp2{
  font-size: 20px;
}


.casa2{

  width: 40px;
}


/* PROFILE */


.stats {
  text-align:center;
  text-shadow:1px 1px 0px #fff;
  margin-top:25px;  
  
}
.stats li{
  width:125px; 
}
.stats span{
  font-family:Helvetica;
  font-weight:bold;
  text-shadow:1px 1px 0px #fff;
  font-size:10em;
  
  display:block;
  line-height:1em;
}

/* Large desktop */
@media (min-width: 800px) { 
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  .profile img{
    width:5px;
  }
  .profile h2{
    font-size:1.7em;
  }
  .stats span{
    font-size: 2em;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
}


.sizefono{
 font-size: 40px;
}

.opacities{
  opacity: 0.6;
}


  </style>

</head>

<body>
  <br>


<div class="sizepro">
<div class="container">

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<div class="container profile">
  <div class="row">
    <div class="span12">

      <div class="well well-small clearfix">

        <div class="row-fluid">

          <div class="span2">
             <%= image_tag("profile.png",class:"mg-polaroid" )%>        
          </div>


          <div class="span4">
          <div style="border-bottom:1px solid black">
                        
                          
             <h2 class="opacities"><%= @publication.nombre %></h2> 
             </div>
              </br>   
            <ul class="unstyled">
              <li class="sizefono"><i class="icon-phone"></i> +56<%= @publication.fono %></li>
           
            </ul>
          </div>
          
            </div><!--/row-->
      </div>
      <!--Body content-->
    </div>
  </div>
      
         


</div>

</div>
</div>


<div class="container ">

  <div class="page">



    <h1 class="titulo-ok"><%= @publication.titulo %></h1>
    <div class="descrp2"><%= image_tag("lugar.png",class:"casa2" )%>&nbsp;<%= @publication.region.nombre %>
   &nbsp;&nbsp;<%= image_tag("gps.png",class:"casa2" )%>&nbsp;<%= @publication.comuna.nombre %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag("precio.png",class:"casa" )%> <strong> <span class="descrp" style="color: #ff9f1a"> <%=number_to_currency(@publication.precio,precision: 0,separator:".",delimiter: ".") %></span></strong> </div>
    </br>
    

    <div class="container float-ok">
       <div class="row">
    
        
    </div>
</div>

    <div class="sp-loading"><img src="images/sp-loading.gif" alt=""><br>CARGANDO IMAGENES</div>
    <div class="sp-wrap">

      <a ><%= image_tag @publication.publication_attachments.first. avatar_url(:large) %></a>
      <% unless @publication.publication_attachments.second.nil? %>
      <a ><%= image_tag @publication.publication_attachments.second. avatar_url %></a>
      <%end%>
       <% unless @publication.publication_attachments.third.nil? %>
      <a ><%= image_tag @publication.publication_attachments.third. avatar_url %></a>
      <%end%>
      <% unless @publication.publication_attachments.fourth.nil? %>
      <a ><%= image_tag @publication.publication_attachments.fourth. avatar_url %></a>
      <%end%>
       <% unless @publication.publication_attachments.fifth.nil? %>
      <a ><%= image_tag @publication.publication_attachments.fifth. avatar_url %></a>
      <%end%>
      
    </div>

    

    <br>
    <ul>
 
    
              <div class="descrp"><%= image_tag("casa.png",class:"casa" )%><strong>Tipo:</strong>
              &nbsp;<%= @publication.tipo %></div>


        

            
           <div class="descrp"><%= image_tag("sup3.png",class:"casa" )%><strong>Superficie:</strong>
              &nbsp;<%= @publication.superficie %></div>
        
          


            <div class="descrp"><%= image_tag("dorm.png",class:"casa" )%><strong>Dormitorios:</strong>
              &nbsp;<%= @publication.dormitorio %></div>
        
            
              <div class="descrp"><%= image_tag("baños.png",class:"casa" )%><strong>Baños:</strong>
              &nbsp;<%= @publication.baño %></div>
        
        

          

              <div class="descrp"><%= image_tag("estaci.png",class:"casa" )%><strong>Estacionamientos:</strong>
              &nbsp;<%= @publication.estacionamiento %></div>

              </br>
        
          
            <div class="descrp"><strong> Descripcion:</strong> </div>
      <p class="product-description"><%= @publication.descripcion %></p>
      
    </ul>

    
</div>

</br>

  </div>








</br>




  <!-- JS ======================================================= -->

  <script type="text/javascript">
  /* wait for images to load */
  $(window).load(function() {
    $('.sp-wrap').smoothproducts();
  });
  </script>







</body>



</html>



