
<% provide(:page_title, 'Inicio') %>





<style>
        

    
        
        body
        {
            background: url('http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/07/white-background-9.jpg') fixed;
            background-size: cover;
            padding: 15px;
            margin: 0;
        }        
       
     
       .border1{
        color : red;
       }

       .center2{
        float: center;

       }



       .sales2 {
           background: #ffffff none repeat scroll 0 0;
           border: 7px solid #d4d9e3;
           display: inline-block;

           padding-bottom: 15px;
           width: 100%;
           opacity:0.9;
       }

       .rojito{
         font-weight:black;
         color: red;
         opacity:0.5;
         font-size: 30px;
         font-family: "Arial Hebrew";
         
       }


       .titlesty{

         font-size: 18px;
         float : none;

       }

 


       .regiones{
         width: 200px;
       }


       .porte{
         width: 140px;
         height: 40px;
         font-size: 18px;
         border-color: white;
         border-width: 1px;
         opacity: 0.8;

       }


       .centerw{
        margin: 0 auto;
        width: 100%;
       }

       .noesperes{
        width: 850px;
        opacity: 0.9;
       }

       .casalog{
        width: 100px;
        opacity: 0.6;
       }

        

       .titulo-ok2
       {
         
         color: black;
         font-family: 'Open Sans', sans-serif;
         text-transform: capitalize;
         text-transform: uppercase;
         
         font-size: 30px;
         font-weight: 400;
         line-height: 72px;
         letter-spacing: 10px;
         margin-bottom: 15px;
         text-align: center;
         text-indent: 24px;
         opacity: 0.7;

         
       }


       .botons{
       width: 300px;
       opacity: 0.9;
  }

  .centrar{
    display: flex;
    justify-content: center;
  }

  .fondopop{
     background: url('http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/07/white-background-9.jpg') fixed;
            background-size: cover;
            padding: 15px;
            margin: 0;
            border-color: black;
            border: 30px;
  }


.modal-content{
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important; 
}


 .descripav {
  padding-left: 10px;
 }

 a{
  font-size: 18px;
 }
        
</style>








	<div class="w3ls-banner">

		<div class="center-container"> 

			<div class="w3ls_banner_info">
				<div class="container">

        <div>
					
						<%= image_tag("casalog.png",class:"casalog" , alt: "Logo casa")%>

            </div>
					
					<%= image_tag("noesperes4.png",class:"noesperes" , alt: "no esperes mas")%>
					
					<div class="more">
						<button name="Publica Ahora!" type="button" class="btn btn-info" data-toggle="modal" data-target="#MyModal">¡Publica Ahora! </button>
					</div>
                     

                     

					<!-- modal-->
					
				</div>
			</div>
		</div>
	</div>
	<!-- about -->
	
</br>






<div id="MyModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content"> 
          <div class="modal-body fondopop">
          
<div class="row centrar">
<h1>¿ QUE DESEA HACER? </h1>
</div>

<div class="row centrar">


<%= link_to image_tag("vender2.png",class:"botons" ), new_publication_path( :motivo => "1") %>
</div>

<div class="row centrar">
<%= link_to image_tag("arrendar1.png",class:"botons" ), new_publication_path( :motivo => "2") %>

</div>


<br>




          </div>
          
      </div>
  </div>
</div>
 
<div class="container">

<h2 class="titulo-ok2">¿Donde Buscas?</h2>
 
<div class="row ofss">



<%= link_to "Aisén",  publications_path( :region_id => "1"),class:"btn btn-info porte" %>




<%= link_to "Los Lagos",  publications_path( :region_id => "2"),class:"btn btn-info porte" %>


<%= link_to "Los Rios",  publications_path( :region_id => "3"),class:"btn btn-info porte" %>


<%= link_to "La Araucanía",  publications_path( :region_id => "4"),class:"btn btn-info porte" %>


<%= link_to "Biobío",  publications_path( :region_id => "5"),class:"btn btn-info porte" %>



<%= link_to "Maule",  publications_path( :region_id => "6"),class:"btn btn-info porte" %>



<%= link_to "O'Higgins",  publications_path( :region_id => "7"),class:"btn btn-info porte" %>

<%= link_to "Valparaíso",  publications_path( :region_id => "8"),class:"btn btn-info porte" %>


<%= link_to "Santiago",  publications_path( :region_id => "9"),class:"btn btn-info porte" %>


<%= link_to "Coquimbo",  publications_path( :region_id => "10"),class:"btn btn-info porte" %>


<%= link_to "Atacama",  publications_path( :region_id => "11"),class:"btn btn-info porte" %>







<%= link_to "Antofagasta",  publications_path( :region_id => "12"),class:"btn btn-info porte" %>


<%= link_to "Tarapacá",  publications_path( :region_id => "13"),class:"btn btn-info porte" %>


<%= link_to "Arica",  publications_path( :region_id => "14"),class:"btn btn-info porte" %>



</div>

</div>


</br>
</br>

</br>
</br>

</br>
</br>





 <div class="container">

 <h2 class="titulo-ok">Ultimos Avisos</h2>

 


<div class="row">

 
  

<% @publications.each do |publication,i| %>




  <div class="col-md-3">


<div class="sales2">

   

  
     
        
       <% unless publication.publication_attachments.first.nil? %>

       <%= link_to publication do %>

             <div  ><%= image_tag publication.publication_attachments.first.avatar_url(:thumb) , class:"img-thumbnail centerw" %> </div>

         <%end%>
        <%end%>


            
         
           <div class="descripav"><a><%= link_to publication.titulo.truncate(25), publication %></a>

           <%if publication.motivo==1 %>
           
             <div class="rojito"><%= number_to_currency(publication.precio,precision: 0,separator:".",delimiter: ".") %>.000.000</div>
             </div>

             <%end%>

             <%if publication.motivo==2 %>


             <div class="rojito"><%= number_to_currency(publication.precio,precision: 0,separator:".",delimiter: ".") %></div>
             </div>

             <%end%>



             
         
         <% unless publication.comuna.nil? %>
         <strong class="descripav"><%= publication.comuna.nombre %></strong>
         <%end%>

         </br>
        
         <p class="descripav"><%= publication.region.nombre %></p>

         

     

</div>

</div>



   
   <%end%>

     





 </div>

 </div>




  





        <script>
        /*Tooltip*/
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});


        </script>
