
<% provide(:page_title, 'Inicio') %>





<style>
        

    
        
        body
        {
            background: url('http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/07/white-background-9.jpg') fixed;
            background-size: cover;
            padding: 15px;
            margin: 0;
        }        
       
     
       .border1{
        color : red;
       }

       .center2{
        float: center;

       }



       .sales2 {
           background: #ffffff none repeat scroll 0 0;
           border: 7px solid #d4d9e3;
           display: inline-block;

           padding-bottom: 15px;
           width: 100%;
           opacity:0.9;
       }

       .rojito{
         font-weight:black;
         color: red;
         opacity:0.5;
         font-size: 30px;
         font-family: "Arial Hebrew";
         float: right;
       }


       .titlesty{

         font-size: 18px;
         float : none;

       }

 


       .regiones{
         width: 200px;
       }


       .porte{
         width: 140px;
         height: 40px;
         font-size: 18px;
         border-color: white;
         border-width: 1px;
         opacity: 0.8;

       }


       .centerw{
        margin: 0 auto;
        width: 100%;
       }



        
</style>








	<div class="w3ls-banner">

		<div class="center-container"> 

			<div class="w3ls_banner_info">
				<div class="container">
					<div class="w3l_banner_logo">
						<h2>CL</h2>
					</div>
					<h1 class="familis">¡No esperes mas y vende tu propiedad!</h1>
					<p> Sitio especializado en la venta de inmuebles , ¡ Publica Tu Aviso !</p>
					<div class="more">
						<%= link_to "Publica Ahora! ", motivo_path,class:"btn btn-info" %>
					</div>
                     

                     

					<!-- modal-->
					
				</div>
			</div>
		</div>
	</div>
	<!-- about -->
	
</br>


 
<div class="container">
 
<div class="row ofss">



<%= link_to "Aisén",  publications_path( :region_id => "1"),class:"btn btn-info porte" %>




<%= link_to "Los Lagos",  publications_path( :region_id => "2"),class:"btn btn-info porte" %>


<%= link_to "Los Rios",  publications_path( :region_id => "3"),class:"btn btn-info porte" %>


<%= link_to "La Araucanía",  publications_path( :region_id => "4"),class:"btn btn-info porte" %>


<%= link_to "Biobío",  publications_path( :region_id => "5"),class:"btn btn-info porte" %>



<%= link_to "Maule",  publications_path( :region_id => "6"),class:"btn btn-info porte" %>



<%= link_to "O'Higgins",  publications_path( :region_id => "7"),class:"btn btn-info porte" %>

<%= link_to "Valparaíso",  publications_path( :region_id => "8"),class:"btn btn-info porte" %>


<%= link_to "Santiago",  publications_path( :region_id => "9"),class:"btn btn-info porte" %>


<%= link_to "Coquimbo",  publications_path( :region_id => "10"),class:"btn btn-info porte" %>


<%= link_to "Atacama",  publications_path( :region_id => "11"),class:"btn btn-info porte" %>







<%= link_to "Antofagasta",  publications_path( :region_id => "12"),class:"btn btn-info porte" %>


<%= link_to "Tarapacá",  publications_path( :region_id => "13"),class:"btn btn-info porte" %>


<%= link_to "Arica",  publications_path( :region_id => "14"),class:"btn btn-info porte" %>



</div>

</div>


</br>
</br>

</br>
</br>

</br>
</br>

 

 <div class="container">


<div class="row">

 
  

<% @publications.each do |publication,i| %>




  <div class="col-md-3">


<div class="sales2">

   

  
     
        
       <% unless publication.publication_attachments.first.nil? %>

             <div  ><%= image_tag publication.publication_attachments.first.avatar_url(:thumb) , class:"img-thumbnail centerw" %> </div>
        <%end%>


            
         
           <div class="col-md-12 titlesty"><a><%= link_to publication.titulo, publication %></a>
           </br>
             <div class="rojito"><%= number_to_currency(publication.precio,precision: 0,separator:".",delimiter: ".") %></div>
             </div>
             


           
         
         &nbsp;&nbsp;&nbsp;&nbsp;<strong><%= publication.comuna.nombre %></strong>
         </br>
        </br>
        </br>
         &nbsp;&nbsp;&nbsp;&nbsp;<%= publication.region.nombre %>

         

     

</div>

</div>



   
   <%end%>

     





 </div>

 </div>




  





        <script>
        /*Tooltip*/
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});


        </script>
