<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<% provide(:page_title, 'Inicio') %>
<!DOCTYPE html>
<html lang="en">
<head>
<title>Vendela.cl</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Today Flats Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->


<style>
        

        /* font Awesome http://fontawesome.io*/
        @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
        /* Animation.css*/
        @import url(https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css);        

        body
        {
            background: url('http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/07/white-background-9.jpg') fixed;
            background-size: cover;
            padding: 15px;
            margin: 0;
        }        

       
       .border1{
        color : red;
       }

       .center{
        float: center;

       }




/* ======= Footer ======= */
.footer {
  background: #32383e;
  color: #fff;
  padding: 10px 0;
}
.footer .copyright {
  line-height: 1.6;
  color: #a1aab4;
  font-size: 14px;
}
.footer a {
  color: #fff;
}
.footer .fa-heart {
  color: #fb866a;
}


        
</style>



</head>





<body> 


	<div class="w3ls-banner">

		<div class="center-container"> 

			<div class="w3ls_banner_info">
				<div class="container">
					<div class="w3l_banner_logo">
						<h2>VL</h2>
					</div>
					<h3>¡No esperes mas y vende tu propiedad!</h3>
					<p> Sitio especializado en la venta de inmuebles , ¡ Publica Tu Aviso !</p>
					<div class="more">
						<%= link_to "Publica Ahora! ", new_publication_path,class:"btn btn-info" %>
					</div>
                     

                     

					<!-- modal-->
					
				</div>
			</div>
		</div>
	</div>
	<!-- about -->
	
</br>


 

 


 




 

  

<% @publications.each do |publication,i| %>


  <div class="col-md-3">

   

  
     
        
       <% unless publication.publication_attachments.first.nil? %>

              <%= image_tag publication.publication_attachments.first.avatar_url(:thumb) , class:"img-thumbnail"  %>
        <%end%>
            <div>
         
           <td><%= link_to publication.titulo, publication %> - <%= publication.precio %></td>




         <%= button_to 'Eliminar', publication, method: :delete %>

         </div>

     

</div>



   
   <%end%>

     





 








</body>









 </html>
       

  





        <script>
        /*Tooltip*/
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});


        </script>
