<!DOCTYPE html>
<html>
<head>
  
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <HTML LANG="Spanish">
<TITLE>Comprala , portal inmobiliario de Chile. Venta y arriendo de casas, departamentos y otras propiedades.</TITLE>

<meta name="robots" content="noarchive" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="description" content="Comprala. Venta, arriendo de departamentos, casas y otras propiedades en Chile. Publique gratis su propiedad en venta o arriendo. Departamentos, casas, oficinas, locales, campos y parcelas" />
<meta name="keywords" content="Chile propiedades, portal inmobiliario, casas en venta, casas en arriendo, departamentos en venta, departamentos en arriendo, propiedades en venta, propiedades en arriendo, locales comerciales, oficinas"/>
<meta http-equiv="Content-Type" content="text/html; ISO-8859-1">
<META NAME="DC.Language" SCHEME="RFC1766" CONTENT="Spanish">

<META NAME="Resource-type" CONTENT="Document">
<META NAME="DateCreated" CONTENT="Sun, 28 May 2017 00:00:00 GMT+1">
<META NAME="Revisit-after" CONTENT="1 days">

 
   
</head>
<body>

<%= render 'layouts/navbar' %>

<%= yield %>

</body>
</html>



